body {
    color: #004085;
    font-family: Arial, Helvetica, sans-serif;
}

.img-fluid {
	margin-left: auto;
}
.content{
	background-color:#f77c24;
	height: 80px;
}
.footer{
	background: #350978 !important;
	color: white;
	/*position: fixed;*/
	height: 80px;
	bottom: 0;
	width: 100%;
}
.bottom-align{
	margin: auto;
	display: block;
	position: absolute;
	bottom: 0;
}

strong {
    font-weight: bold;
}

.swal2-content, .header-swal {
    font-size: 0.8em!important;
}

table tr td:first-child {
    background-color: #f8f9fc;
}

table tr td:nth-child(2) {
    background-color: #eee;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    body, .col-form-label, .form-control {
        font-size: 0.6rem;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    body, .col-form-label, .form-control {
        font-size: 0.6rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    body, .col-form-label, .form-control {
        font-size: 0.7rem;
    }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    body, .col-form-label, .form-control {
        font-size: 0.7rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    body, .col-form-label, .form-control {
        font-size: 0.8rem;
    }
}